login {
  .container form {
    margin-top: 15px;
  }

@media (max-width:767px)
{
  .abinbev-tech,
  .login-section
  {
    max-width: 275px;
    margin: auto;
  }
}
  @media (min-width:768px)
  {
    .login-container-center {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .login-container-center.is-responsive {
        width: 60%;
        height: 50%;
        min-width: 300px;
        max-width: 400px;
        padding: 30px;
    }
}
    .login-title {
        padding-top: 4px;
        font-size: 20px;
        font-weight: bold;
    }
    .login-section {
        padding: 35px;
        background-color: #414244;
        border-radius: 6px;
    }
    .logo-style {
        margin-left: 1px;
        margin-right: 0px;
    }
    .logo-style1 {
        margin-left: 15px;

    }
    .fa-lock {
        width: 12px;
    }
    .error-message {
        color: red;
    }
    .login-button {
        background-color: #0094ff;
        color: black;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #414244;
    }
    .login-button-alignment {
        margin-left: 12px;
        margin-top: 15px;
    }
    .login-button-alignment .login-button:hover,
    .login-button:active {
        background-color: #0094ff;
        border: 1px solid #414244;
    }
    .btn-block {
        display: block;
        width: 100%;
    }
    .icon-style {
        background-color: #fff;
        color: black;
    }
    .space-above-5 {
        margin-top: 5px;
    }
    .user-details {
      width: 100%;
    }
    .space-below-15 {
        margin-bottom: 15px;
    }
    .space-below-20 {
        margin-bottom: 20px;
        text-align: center;
        color: white;
    }
    .remove-margin-top {
        margin-top: 0;
    }
    input.submitted.ng-invalid {
        border: 1px solid #f00;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

}
